@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

:root {
    --notQuiteBlack: #23272b;
    --white: #ffffff;
    --blue: #3e70dd;
    --orange: #F8A22F;
    --green: #3ba561;
    --marker: #5865F2;
    --marker-green: #58f287;
    --added: #28a745;
    --changed: #faa61a;
    --delete: #ed4245;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--notQuiteBlack);
    color: var(--white);
}

main {
    margin: 0 auto;
    max-width: 80%;
}

ol {
    list-style: none;
}

li {
    line-height: 1.2em;
    margin: 1.3em 0;
}

a, a:visited {
    text-decoration: none;
    color: var(--white);
}

.title {
    font-size: 50px;
    text-align: center;
    color: var(--blue);
}

.edit-date {
    font-size: 30px;
    text-align: center;
    color: var(--blue);
}

.section-counter {
    counter-reset: item;
    list-style-type: none;
    padding: 0;
}

.section-title {
    color: var(--orange);
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.section-counter > .section-title:before {
    content: 'Раздел ' counters(item, '.') ' | ';
    counter-increment: item;
    color: var(--orange);
}

.section-title > ol {
    font-size: 1.3rem;
    text-align: left;
    color: var(--white);
    font-weight: 100;
}

.section-counter > li::before {
    content: counters(item, '.') ' | ';
    counter-increment: item;
    color: var(--green);
    list-style-position: inside;
    font-weight: bold;
}

li > .section-counter > li > .section-counter {
    padding-left: 2%;
}

.exception {
    padding-left: 7%;
}
.exception > li {
    margin-top: 15px;
    line-height: 1em;
}

a > span {
    font-weight: bold;
    color: var(--green);
}

.added::before {
 content: "Добавлено";
 background-color: var(--added);
 font-weight: 500;
 line-height: 2.5em;
 padding: 5px;
 border-radius: 10px;
}

.changed::before {
    content: "Изменено";
    background-color: var(--changed);
    font-weight: 500;
    line-height: 2.5em;
    padding: 5px;
    border-radius: 10px;
}

.delete::before {
    content: "Удалено";
    background-color: var(--delete);
    font-weight: 500;
    line-height: 2.5em;
    padding: 5px;
    border-radius: 10px;
}

#rules130::before {
    content: "1.30 | ";
    color: var(--green);
    list-style-position: inside;
    font-weight: bold;
}
